/* Cultural Sensitivity Warning
   Main CSS
*/

/* no js fallback styling */

.csw-container {
  background-color: #eee;
  box-sizing: border-box;
  height: auto;
  overflow-y: hidden;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

@supports (animation-name: dropin) {
  .csw-container {
    animation-name: dropin;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  @keyframes dropin {
    0% {
      top: -3em;
    }
    70% {
      top: -3em;
    }
    100% {
      top: 0;
    }
  }
}

.csw-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4px;
  max-width: 1400px;
}

.csw-wrapper p {
  text-align: center;
  max-width: none;
  margin-bottom: 0;
}

.csw-wrapper a {
  text-align: center;
  max-width: none;
}

/* js styling */

.csw-container-js {
  -webkit-animation: 0.5s ease-out 1 fadeIn;
          animation: 0.5s ease-out 1 fadeIn;
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.csw-container-js .csw-wrapper {
  background-color: white;
  max-width: 35em;
  padding: 30px;
  position: relative;
  top: 50px;
}

.csw-container-js .csw-wrapper::after {
    content:"";
    display:block;
    clear:both;
}

.csw-container-js .csw-wrapper p {
    text-align: left;
    margin-bottom: 1em;
}

.csw-secondary-text {
  display: none;
  float: left;
  line-height: 1.4;
  margin-bottom: 0;
  width: 70%;
}

.csw-warning-button {
  display: none !important;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
